.page-header{
    text-align: center;
    padding: 0rem 0;
    ul{
        font-size: 1rem;
    }
    
}
.title{
    font-size: 3rem;
    text-align:center;
    margin-left:-2rem;
    margin-top:-2rem;
    color:#23C9FF;
}

.fa-tasks{
    width:175px;
    display: block;
  margin-left: auto;
  margin-right: auto;
    color:#23C9FF;
    margin-bottom:2rem;

}

.page-header-toDo{
    text-align: center;
    padding: 0rem 0;
    
    
}



